@charset "utf-8";


@media (min-width:1565px) {

        


        /* 박스 */

        #box {
                width: 1271px;
                height: 241px;
                margin: -70px auto;
                color: #333;
                display: flex;
                justify-content: space-between;
        }

        .box {
                width: 393px;
                height: 241px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: space-evenly;
                text-align: center;
                line-height: 25px;
                padding: 15px;
                background-color: white;
                box-shadow: 2px 2px 4px #999;
        }

        .box span {
                width: 100%;
                font-size: 40px;
        }

        .box h3 {
                width: 100%;
        }
        
        .box p {font-family: 'Pretendard-Regular';}

        .box table {
                font-family: 'Pretendard-Regular';
                width: 95%;
                letter-spacing: 5px;
                line-height: 30px;
        }


        /* 공지이벤트 */

        #notic {
                width: 1280px;
                height: 535px;
                margin: 300px auto;
                display: flex;
                justify-content: space-between;
        }

        #notictb {
                width: 450px;
                height: 535px;
                display: flex;
                flex-direction: column;
        }

        #notictb h3 {
                border-radius: 8px;
                padding: 10px;
                color: aliceblue;
                background-color: #495C77;
        }

        #notictb table {
                width: 380px;
                height: 460px;
                margin-top: 5px;
                color: #333;
                font-size: 15px;
                font-family: 'Pretendard-Regular';
        }

        #notictb th {
                width: 150px;
                padding: 10px;
                border-bottom: 1px solid #999;
        }

        #notictb td {
                line-height: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                border-bottom: 1px solid #999;
        }

        #notictb button {
                width: 120px;
                height: 50px;
                margin-top: 20px;
                border-radius: 10px;
                border: none;
                align-self: flex-end;
                font-size: 18px;
                color: aliceblue;
                background-color: #495C77;
                font-family: 'Pretendard-Regular';
        }


        #event {
                width: 800px;
                height: 535px;
        }

        .eventimg {
                width: 100%;
                height: 470px;
        }

        .eventimg a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
        }

        .eventimg img {
                width: 48%;
                height: 100%;
        }

        .eventbtn button {
                width: 120px;
                height: 50px;
                margin: 15px 0 0 650px;
                border-radius: 10px;
                border: none;
                font-size: 18px;
                color: aliceblue;
                background-color: #495C77;
                font-family: 'Pretendard-Regular';
        }


        /* 비디오 */

        #video {
                width: 1550px;
                height: 1000px;
                margin: 0 auto;
        }

        .video {
                width: 100%;
                height: 872px;
        }

        .video iframe {
                width: 100%;
                height: 100%;
        }

        #icon {
                width: 852px;
                height: 90px;
                margin: 18px auto;
                display: flex;
                justify-content: space-evenly;
        }

        #icon a {
                width: 90px;
                height: 90px;
                padding: 10px;
                font-size: 50px;
                text-align: center;
                line-height: 90px;
                color: #9c9c9c;
        }

        #icon a:nth-child(1):hover {
                color: rgb(211, 20, 20);
        }

        #icon a:nth-child(2):hover {
                color: rgb(32, 51, 134);
        }

        #icon a:nth-child(3):hover {
                color: rgb(219, 57, 111);
        }

        #icon a:nth-child(4):hover {
                color: #333;
        }


        /* 서브이동박스 */

        #shortcut {
                width: 100%;
                margin: 200px auto;
                display: flex;
                justify-content: space-between;
        }

        .short {
                width: 24%;
                transition: all 0.5s ease-in-out;
                margin: 0 auto;
                border-radius: 10px;
                background-color: #495C77;
        }

        .short img {
                width: 100%;
                border-radius: 10px 10px 0 0;
                opacity: 1;
                transition: all 0.4s ease-in-out;
        }

        .short p {
                text-align: center;
                line-height: 30px;
                padding: 15px;
                font-size: 25px;
                color: #eee;
                
        }

        .short img:hover {
                opacity: 0.7;
        }

        /* 인포 */
        #info {
                width: 100%;
                height: 650px;
                margin-top: 180px;
                background-color: #eee;
        }

        #info h2 {
                padding: 100px;
                color: #333;
                text-align: center;
                line-height: 30px;
        }

        #infobox {
                width: 100%;
                height: 300px;
                color: #333;
                display: flex;
                justify-content: space-between;
        }

        #infobox>a {
                width: 300px;
                height: 300px;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                background-color: white;
                font-family: 'Pretendard-Regular';
        
        }

        .infoimg {
                width: 100%;
                height: 230px;
                border-radius: 10px 10px 0 0;
                overflow: hidden;
        }

        .infoimg img {
                width: 100%;
                height: 100%;
                transform: scale(1);
                transition: all 0.5s ease-in-out;
        }

        #infobox a>p {
                width: 100%;
                height: 70px;
                align-content: center;
                text-align: center;
        }

        .infoimg img:hover {
                transform: scale(1.2);
                opacity: 0.7;
        }

        /* ETC */
        #etc {
                width: 1158px;
                height: 267px;
                margin: 120px auto;
                color: #333;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 10px;
                box-shadow: 3px 3px 5px #999;
                font-family: 'Pretendard-Regular';
        }

        .etcbox {
                width: 110px;
                height: 170px;
                text-align: center;
        }

        .etcbox img {
                width: 108px;
                height: 120px;
        }

}