@charset "utf-8";

#topslide {width: 100%; height: 987px; overflow: hidden;}

.topview {width: 400vw; height: 100%; }

.topview div {width: 100vw; height: 100%; float: left;
        background-repeat: no-repeat;
        /* background-attachment: fixed;  */
        background-position: bottom;
        background-size: cover;}

/* 헤더 */
header {width: 100%; position: fixed;}

#header {width: 100%; height: 82px; 
        display: flex; justify-content: space-between; align-items: flex-end;}

#logo {width: 163px; height: 60px; font-size: 55px; letter-spacing: 1px; color: #eee;}

#menu {width: 1000px; 
       display: flex; justify-content: space-between;}
#menu li {font-size: 24px; color: #eee;}



/* 박스 */

#box {width: 1271px; height: 241px; margin: -70px auto;
      display: flex; justify-content: space-between;}

.box {width: 393px; height: 241px; 
      display: flex; flex-flow: row wrap;
        background-color: white;
        box-shadow: 2px 2px 4px #999;}

.box img {height: 66px; margin: 20px auto;}
.box:nth-child(3) {padding-top: 40px;}

 

.box h3 {width: 100%; height: 25px; text-align: center;}
.box p {width: 100%; text-align: center; line-height: 30px;}
.box a {width: 33%; height: 20%; text-align: center; line-height: 50px;}
.box a:hover {background-color: #eee;}

/* 공지이벤트 */

#notic {width: 1280px; height: 535px; margin: 180px auto; 
        display: flex; justify-content: space-between;}

#notictb {width: 450px; height: 535px;
          display: flex; flex-direction: column;}
#notictb h3 {border-radius: 8px; padding: 10px; color: aliceblue; background-color: #495C77;}
#notictb table {width: 450px; height: 460px; margin-top: 5px;
                font-size: 15px ;}
#notictb th {width: 100px; border-bottom: 1px solid #999;}
#notictb td {margin: 5px;text-overflow: ellipsis; white-space: nowrap; border-bottom: 1px solid #999;}

#notictb button {width: 120px; height: 50px; margin-top: 20px;
                border-radius: 10px; border: none;
                align-self: flex-end;
                cur
                font-size: 18px; color: aliceblue;
                background-color: #495C77;}


#event {width: 800px; height: 535px;}

.eventimg {width: 100%; height: 460px;}
.eventimg a {width: 100%; height: 460px; display: flex; justify-content: space-between;}
.eventimg img {width: 48%; height: 100%;}

.eventbtn button {width: 120px; height: 50px;  margin: 15px 0 0 650px;
                 border-radius: 10px; border: none;
                 cur
                 font-size: 18px; color: aliceblue;
                 background-color: #495C77;}


/* 슬라이더 */

#slider {width: 100%; height: 840px; background-color: #495C77;}

#slider1 {width: 100%; height: 460px; position: relative;
        background-color: antiquewhite;}
#sliderview {width: 100%; height: 460px;
             background: url(/img/view0.jpg) no-repeat bottom/cover;
             background-color: #495C77;}

#viewtext {width: 1000px; height: 300px; 
        position: absolute; top: 20%; left: 25%;
        padding: 20px;
        border: 20px solid white; border-radius: 30px;}
#sliderview h1, #sliderview p {color: #3f3f3f; padding: 5px;}

#sliderview p {font-size: 25px; text-align: 30px;} 

#slider2 {width: 100%; height: 360px; 
        display: flex;
        background-color: #495C77;}
.mini {width: 339px; height: 320px; margin: 20px;}


/* 인포 */
#info {width: 100%; height: 792px; background-color: #eee;}

#info h1 {width: 100%; padding: 120px; 
        text-align: center; line-height: 30px;}

#infobox {width: 100%; height: 409px;
         display: flex; justify-content: space-between;}
#infobox>a {width: 300px; height: 409px; 
           display: flex; flex-direction: column;
           border-radius: 10px;
           background-color: white}

.infoimg {width: 300px; height: 300px; border-radius: 10px 10px 0 0; overflow: hidden;}
.infoimg img {width: 300px; height: 300px; 
                
                transform: scale(1); transition: all 0.5s ease-in-out;}

#infobox a>p {width: 100%; height: 109px; margin-top: 40px; 
                text-align: center; line-height: 20px;
                font-size: 17px;}
.infoimg img:hover {transform: scale(1.2); opacity: 0.7;}

/* ETC */
#etc {width: 1158px; height: 267px; margin: 120px auto;
    display: flex; justify-content: space-around; align-items: center;
    border-radius: 10px; box-shadow: 3px 3px 5px #999;}

.etcbox {width: 110px; height: 170px; text-align: center;}
.etcbox img {width: 108px; height: 120px; 
            border: 1px solid #c0c0c0; border-radius: 20px;}


/* 푸터 */
footer {width: 100%; height: 212px; background-color: rgb(212, 212, 212)}

#footer {width: 100%; height: 212px; 
        display: flex; justify-content: space-between; align-items: center;}

.footer {height: 150px; margin: 0 auto;}

.footer img {width: 261px; height: 90px; margin-top: 30px;;}

.footer p {width: 693px; margin-top: 80px;
            font-size: 14px; letter-spacing: 2px; line-height: 20px;}

.footer:nth-of-type(3) {display: flex; flex-direction: column;}
.footer button {width: 158px; height: 40px; margin: 5px;
                border-radius: 10px; border: none; background-color: #c0c0c0;}