@charset "utf-8";

@media (min-width:768px) and (max-width:1565px) {

    .container {
        width: 95%;
        margin: 0 auto;
    }

    /* 탑슬라이더 */
    #topslide {
        width: 100%;
        height: 987px;
        overflow: hidden;
    }

    .topview {
        width: 400vw;
        height: 100%;
    }

    .topview div {
        width: 100vw;
        height: 100%;
        float: left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom;
        background-size: cover;
    }

    /* 헤더 */
    header {
        width: 100%;
        height: auto;
        position: fixed;
        z-index: 1;
        transition: all 0.4s ease-in-out;
    }

    #header {
        width: 100%; padding: 20px;
    }

    #logo {
        width: 170px;
        font-size: 55px;
        letter-spacing: 5px;
    }

    #logo a {
        color: #eee;
    }

    #menu2 {display: none;}

    #menu {
        width: 100%;
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu a { 
        font-size: 20px;
        color: #eee;
    }

    header:hover,
    .scroll {
        background-color: #495c77c0;
    }


    /* 박스 */

    #box {
        width: 100%;
        height: auto;
        margin: -70px auto;
        color: #333;
        display: flex;
        justify-content: space-around;
    }

    .box {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-evenly;
        text-align: center;
        padding: 2%;
        background-color: white;
        box-shadow: 2px 2px 4px #999;
    }

    .box span {
        width: 100%;
        font-size: 40px;
    }

    .box h3 {padding: 2%;
        width: 100%;
    }

    .box table {
        width: 95%;
        line-height: 30px;
    }


    /* 공지이벤트 */

    #notic {
        width: 100%;
        margin: 300px auto;
        display: flex;
        justify-content: space-around;
    }

    #notictb {
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        display: flex;
        flex-direction: column;
    }

    #notictb h3 {
        border-radius: 8px;
        padding: 10px;
        color: aliceblue;
        background-color: #495C77;
    }

    #notictb table {
        width: 100%;
        margin-top: 5px;
        color: #333;
        font-size: 15px;
    }

    #notictb th {
        padding: 5px;
        border-bottom: 1px solid #999;
    }

    #notictb td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-bottom: 1px solid #999;
    }

    #notictb button {
        width: 100px;
        height: 45px;
        margin-top: 20px;
        border-radius: 10px;
        border: none;
        align-self: flex-end;
        cursor: pointer;
        font-size: 18px;
        color: aliceblue;
        background-color: #495C77;
    }


    #event {
            width: 29%;
            height: 425px;
    }

    .eventimg {
            width: 100%;
            height: 84.8%;
    }

    .eventimg a {
            width: 100;
            height: 100%;
    }

    .eventimg img {
            width: 100%;
            height: 100%;
    }
    .eventimg img:nth-of-type(2) {display: none;}

    .eventbtn button {
            width: 100px; height: 44px;
            float: right;
            margin-top: 20px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            font-size: 18px;
            color: aliceblue;
            background-color: #495C77;
    }

    /* 비디오 */

    #video {
        width: 100%;
        margin: 0 auto;
    }

    .video iframe {
        width: 100%;
        height: 600px;
    }

    #icon {
        width: 70%;
        padding: 15px;
        margin: 18px auto;
        display: flex;
        justify-content: space-evenly;
    }

    #icon a {
        
        font-size: 3.5vw;
        text-align: center;
        color: #9c9c9c;
    }

    #icon a:nth-child(1):hover {
        color: rgb(211, 20, 20);
    }

    #icon a:nth-child(2):hover {
        color: rgb(32, 51, 134);
    }

    #icon a:nth-child(3):hover {
        color: rgb(219, 57, 111);
    }

    #icon a:nth-child(4):hover {
        color: #333;
    }


    /* 서브이동박스 */

    #shortcut {
        width: 100%;
        margin: 19% auto;
        display: flex;
        justify-content: space-between;
    }

    .short {
        width: 24%;
        transition: all 0.5 ease-in-out;
        margin: 0 auto;
        border-radius: 10px;
        background-color: #495C77;
    }

    .short img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        opacity: 1;
        transition: all 0.4s ease-in-out;
    }

    .short p {
        text-align: center;
        padding: 3%;
        font-size: 1.8vw;
        color: #eee;    
    }

    .short img:hover {
        opacity: 0.7;
    }

    /* 인포 */
    #info {
        width: 100%;
        padding-bottom: 8%;
        margin-top: 180px;
        background-color: #eee;
    }

    #info h2 {
        padding: 100px;
        color: #333;
        text-align: center;
        line-height: 30px;
    }

    #infobox {
        width: 100%;
        margin: 10px;
        color: #333;
        display: flex;
        justify-content: space-around;
    }

    #infobox>a {
        width: 23%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: white
    }

    .infoimg {
        width: 100%;
        height: 80%;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
    }

    .infoimg img {
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: all 0.5s ease-in-out;
    }

    #infobox a>p {
        width: 100%;
        height: 20%;
        align-content: center;
        text-align: center;
    }

    .infoimg img:hover {
        transform: scale(1.2);
        opacity: 0.7;
    }

    /* ETC */
    #etc {
        width: 80%;
        padding: 25px;
        margin: 120px auto;
        color: #333;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        box-shadow: 3px 3px 5px #999;
    }

    .etcbox {
        width: 100%;
        text-align: center;
    }

    .etcbox img {
        width: 50%;
    }


    /* 푸터 */
    footer {
        width: 100%;
        background-color: rgb(212, 212, 212)
    }

    #footer {
        width: 100%;
        margin: 0 auto;
        padding: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .footer {margin: 1%;}
    .footer:nth-child(1) {width: 100%;}
    .footer img {
        width: 20%;
    }

    .footer p {
        width: 100%;
        font-size: 1.1vmax;
        letter-spacing: 1px;
        color: #333;
    }

    .footer:nth-of-type(3) {
        width: 18%;
        display: flex; flex-direction: column;
        margin-top: -9%;
    }

    .footer button {
        width: 80%;
        height: 30%;
        font-size: 1.2vmax;
        margin: 3%;
        cursor: pointer;
        color: #333;
        border-radius: 10px;
        border: none;
        background-color: #c0c0c0;
    }
}