@charset "utf-8";

@media (min-width:1150px) {
/* 서브탑 */
#subtop {
    width: 100%;
    height: 432px;
}

#subtop div {
    width: 100%;
    height: 100%;
    background-image: url('../img/sub/subtop1.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

/* 서브메뉴 */
#submenu {
    width: 100%;
    height: 90px;
    text-align: center;
}

#submenu ul {
    width: 100%;
    height: 90px;
    display: flex;
}

#submenu li {
    width: 25%;
    align-content: center;
    border: 1px solid #333;
    font-size: 24px;
}



/* 서브스토리 */

#storywrap {
    width: 100%;
    height: 78vw;
    position: relative;
    margin-top: 15%;
}

#storywrap span {
    position: absolute;
    top: 32%;
}

.prev {
    left: 4%;

}

.next {
    right: 3%;
}

.prev , .next {
    padding: 1%;
    font-size: 2vw;
    font-weight:bold;
    color: #fff;
    cursor: pointer;
    background-color: #f8f8f857;
    border-radius: 10px;}

.next:hover {background-color: #F8F3E9; color: #333;}
.prev:hover {background-color: #F8F3E9; color: #333;}


#story1 {
    width: 100%;
    height: 58%;
    position: absolute;
    top: 0;
    background-color: #495C77;
}

#story1>h1 {font-size: 2vw;
    color: #fff;
            position: absolute;
            top: 8%; left: 10%;}

#story2 {
    width: 83%;
    z-index: 2;
    position: absolute;
    top: 9%;
    left: 10%;
    overflow: hidden;
}

.st_slide {
    width: 1800%;
    height: 40vw;
    display: flex;
}

.st_slide>ul {width: 1800%; height: 100%; display: flex;}
.st_slide>li {width: 100%; height: 100%; display: flex;}
.st_slide>li>img {width: 70%; height: 100%;}

.st_text {
    width: 26%;
    height: 100%;
    padding: 0.7% 0% 0% 1%; 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.st_text>h2 {font-size: 2.5vw;}
.st_text>p {font-size: 0.99vw; }




#story3 {
    width: 85%;
    height: 25%;
    position:absolute;
    top: 58%;
    background-color: #F8F3E9;
}

.st_list {
    width: 80%;
    position: absolute;
    top: 25%;
    left: 17%;
    display: flex;
    flex-wrap: wrap;

}

.st_list>li {
    width: 11%;
    line-height: 60px;
    cursor: pointer;
    font-size: 1.3vw;
    text-align: center;
}

.st_list>li:hover {background-color: #bbbbbb4b; border-radius: 10px;}

}